*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: $primary-font;
  font-size: 16px;
  line-height: 24px;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}
