/* здесь используйте глобальные селекторы img, body, html и так далее */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: $primary-font;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

img {
  max-width: 100%;
  display: block;
}

.title {
  font-family: $secondary-font;
  font-size: 60px;
  line-height: 60px;
  font-weight: 400;
  margin: 0;
}

.subtitle {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
}

.button {
  display: inline-block;
  background: #68b738;
  color: #ffffff;
  padding: 14px 28px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  font-family: $secondary-font;
  line-height: 26px;
  font-size: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}
