@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
    src: $font-src;
  }
}

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin container {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 20px;

  @include tablet {
    padding: 0 30px;
    max-width: 768px;
  }

  @include desktop {
    padding: 0 110px;
    max-width: 1440px;
  }
}

@mixin main-title {
  font-family: $secondary-font;
  font-weight: 400;
  margin: 0;

  font-size: 36px;
  line-height: 40px;
  color: $basic-dark;

  @include tablet {
    font-size: 60px;
    line-height: 60px;
  }
}

@mixin title {
  font-family: $secondary-font;
  font-weight: 400;
  margin: 0;

  font-size: 24px;
  color: $basic-dark;

  @include tablet {
    font-size: 32px;
    line-height: 32px;
  }

  @include desktop {
    font-size: 40px;
    line-height: 40px;
  }
}

@mixin subtitle {
  font-family: $secondary-font;
  text-transform: uppercase;
  margin: 0;

  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $basic-dark;

  @include tablet {
    font-size: 20px;
    line-height: 20px;
    color: $basic-dark;
  }
}

@mixin button {
  display: block;
  background: $basic-green;
  color: $basic-white;
  font-weight: 400;
  font-family: $secondary-font;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;

  padding: 10px 63px;
  font-size: 16px;
  line-height: 20px;
  transition: background-color 0.25s ease-in-out, opacity 0.25s ease-in-out;

  @include tablet {
    font-size: 20px;
    line-height: 26px;
  }

  &:hover {
    background: $light-green;
  }

  &:active {
    background: $light-green;
    opacity: 0.3;
  }
}

@mixin button--secondary {
  @include button;
  background-color: $light-grey;
  color: $grey;
  transition: background-color 0.25s ease-in-out;

  &:hover {
    background: $basic-border;
  }

  &:active {
    background: $basic-border;
  }
}

@mixin underline {
  &::after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 1px;
    background: $basic-border;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);

    @include tablet {
      display: none;
    }
  }
}

@mixin title-line {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $basic-green;
    transform: translateY(-50%);
    z-index: -1;
  }
}

@mixin full-width-line($top-mobile:10px, $top-tablet:16px, $top-desktop:20px) {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: $top-mobile;
    left: 0;
    width: 100vw;
    height: 2px;
    z-index: -1;
    background-color: $basic-green;

    @include tablet {
      top: $top-tablet;
    }

    @include desktop {
      top: $top-desktop;
    }
  }
}
