$primary-font:"Lato", sans-serif;
$secondary-font: "Oswald", sans-serif;

// Viewports
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;


//Colors
$dark-grey:#444444;
$grey:#222222;
$basic-dark:#000000;
$border-grey:#cdcdcd;
$light-grey:#f2f2f2;
$basic-green:#68b738;
$basic-white:#ffffff;
$basic-border:#e6e6e6;
