/* GLOBAL */
@import "common/variables";
@import "common/global";
@import "common/mixins";
@import "common/fonts";

/* BLOCKS */
@import "blocks/page";
@import "blocks/nav";
@import "blocks/header";
@import "blocks/container";
@import "blocks/hero";
@import "blocks/programs";
@import "blocks/steps";
@import "blocks/example";
@import "blocks/contacts";
@import "blocks/social";
@import "blocks/footer";
@import "blocks/catalog";
@import "blocks/card.scss";
@import "blocks/additional";
@import "blocks/subscribe";
@import "blocks/academy";
