.academy__link {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: $dark-grey;

  @include tablet {
    gap: 24px;
  }
}

.academy__text {
  font-family: $primary-font;
  font-size: 16px;

  margin-right: auto;
}

.academy__logo {
  width: 27px;
  height: 34px;
}
