.additional {
  display: flex;
  justify-content: space-between;
  gap: 80px 0;
}

.additional__title {
  margin-bottom: 80px;
}

.additional__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 20px;
}

.additional__item {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  gap: 40px;
  align-items: center;
}

.additional__quantity {
  text-align: left;
}

.additional__price {
  text-align: right;
}

.additional__gift {
  max-width: 245px;
  background-color: #68b738;
}
