.additional {
  @include desktop {
    font-size: 16px;
    line-height: 20px;
  }
}

.additional__wrapper {
  @include tablet {
    display: block;
  }

  @include desktop {
    display: grid;
    grid-template-columns: 1fr 245px;
    gap: 0 80px;
  }
}

.additional__title {
  @include title;
  margin-bottom: 36px;

  @include tablet {
    margin-bottom: 80px;
  }

  @include desktop {
    grid-column: 1/-1;
    margin-bottom: 80px;
  }
}

.additional__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 20px;
  padding-top: 13px;
  margin-bottom: 35px;
  border-top: 1px solid $border-grey;

  @include tablet {
    border-top: none;
    gap: 0;
    margin-bottom: 70px;
  }

  @include desktop {
    margin: 0;
  }
}

.additional__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  align-items: center;
  color: $dark-grey;
  padding-bottom: 20px;
  border-bottom: 1px solid $border-grey;

  @include tablet {
    padding: 28px 38px;
    border: 1px solid $border-grey;
  }

  @include desktop {
    grid-template-columns: 280px 145px 104px 244px;
    gap: 40px;
    padding: 15px 0;
    border-left: 0;
    border-right: 0;
  }
}

.additional__name {
  @include subtitle;
  grid-column: -1 / 1;

  @include desktop {
    grid-column: 1;
  }
}

.additional__quantity {
  @include desktop {
    text-align: left;
  }
}

.additional__button {
  @include button;
  grid-column: -1 / 1;

  @include desktop {
    grid-column: auto;
  }
}

.additional__price {
  text-align: end;

  @include desktop {
    text-align: start;
  }
}

.additional__gift {
  height: 290px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: linear-gradient($overlay-green), url("/images/background-image/gift-mobile.jpg");

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient($overlay-green), url("/images/background-image/gift-bc-mobile@2x.jpg");
    background-size: 280px auto;
  }

  @include tablet {
    height: 200px;
    background-image: linear-gradient($overlay-green), url("/images/background-image/gift-bc-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient($overlay-green), url("/images/background-image/gift-bc-tablet@2x.jpg");
      background-size: 707px auto;
    }
  }

  @include desktop {
    height: 288px;
    padding: 56px 42px 42px;
    background-image: linear-gradient($overlay-green), url("/images/background-image/gift-bc-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient($overlay-green), url("/images/background-image/gift-bc-desktop@2x.jpg");
      background-size: 245px auto;
    }
  }
}

.additional__gift-text {
  margin: 0;
  color: $basic-white;
}
