.additional {
  display: flex;
  justify-content: space-between;
  gap: 80px 0;
  line-height: 20px;

  @include tablet {
    display: block;
  }
}

.additional__title {
  @include title;
  margin-bottom: 36px;
  font-size: 24px;
  line-height: 24px;

  @include tablet {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 80px;
  }

  @include desktop {
    margin-bottom: 80px;
  }
}

.additional__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 20px;
  padding-top: 13px;
  margin-bottom: 35px;
  border-top: 1px solid $border-grey;
}

.additional__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  align-items: center;
  color: $dark-grey;
  padding-bottom: 20px;
  border-bottom: 1px solid $border-grey;

  @include desktop {
    grid-template-columns: 1fr auto auto auto;
    gap: 40px;
  }
}

.additional__name {
  @include subtitle;
  grid-column: -1 / 1;
}

.additional__button {
  @include button;
  grid-column: -1 / 1;
}

.additional__price {
  text-align: end;
}

.additional__gift-text {
  margin: 0;
}
