.card {
  align-items: center;
  text-align: center;
  color: $dark-grey;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include tablet {
    padding: 0 38px 40px;
    line-height: 20px;
    grid-template-columns: 1fr;
  }
}

.card__link {
  color: $grey;
  text-decoration: none;
  grid-row: 1 / 3;
}

.card__link-title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.card__title {
  @include subtitle;
  color: $dark-grey;
  text-align: center;

  margin-bottom: 23px;
}

.card__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 0;
  list-style: none;
  padding: 0;
  margin: 0 0 32px;
}

.card__item {
  grid-column: 1 / -1;
  display: contents;
}


.card__criterion {
  text-align: left;
}

.card__value {
  text-align: right;
}

.card__button {
  @include button;
  grid-column: -1 / 1;
}

