.card {
  align-items: center;
  text-align: center;
  color: $dark-grey;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 20px;
  padding-bottom: 25px;

  @include tablet {
    line-height: 20px;
    grid-template-columns: 1fr;
    padding: 30px 37px 40px;
  }

  @include desktop {
    justify-content: center;
  }
}

.card__link {
  color: $grey;
  text-decoration: none;

  @include tablet {
    padding-bottom: 20px;
  }
}

.card__info-wrapper {
  display: grid;
  align-self: end;
}

.card__title {
  @include subtitle;
  color: $dark-grey;
  text-align: left;
  font-size: 16px;
  padding: 0 0 14px;
  line-height: 20px;

  @include tablet {
    text-align: center;
    line-height: 24px;
  }

  @include desktop {
    padding-bottom: 23px;
  }
}

.card__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 10px;
  list-style: none;
  padding: 0;
  margin: 0 0 32px;

  @include tablet {
    gap: 10px;
  }
}

.card__item {
  grid-column: 1 / -1;
  display: flex;
  font-size: 12px;
  line-height: 16px;
}


.card__criterion {
  text-align: left;
  flex-grow: 1;
}

.card__value {
  flex-grow: 0;
}

.card__button {
  @include button;
  grid-column: -1 / 1;
}

.card--more {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid $border-grey;


  @include tablet {
    display: grid;
    border: 1px solid $border-grey;
  }

  .card__title {
    @include subtitle;
    color: $dark-grey;
    margin-bottom: 8px;
    text-align: center;
  }

  .card__button {
    @include button--secondary;
    width: 100%;
    margin-top: auto;

    @include desktop {
      padding: 10px 0;
    }
  }
}

.card--more::before {
  content: "";
  width: 30px;
  height: 30px;
  background-color: $grey-icon;
  mask-image: url("../../icons/stack.svg#icon-plus");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 30px 30px;
  margin-bottom: 23px;
  margin-top: 25px;

  @include tablet {
    width: 60px;
    height: 60px;
    mask-size: 60px 60px;
    margin: 0 auto;
    padding: 30px 37px 40px;
  }
}
