.catalog__wrapper {
  padding-bottom: 25px;
}

.catalog__title {
  @include main-title;
  margin-bottom: 41px;

  @include desktop {
    margin-bottom: 84px;
  }
}

.catalog__list {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 100%;
  gap: 25px;
  margin: 0;
  padding: 0;
  list-style: none;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }

  @include desktop {
    grid-template-columns: repeat(4, 245px);
    gap: 63px 80px;
  }
}

.button--secondary {
  @include button;
  @include button--secondary;
}
