.catalog__wrapper {
  @include container;
  padding-bottom: 25px;

  @include tablet {
    margin-bottom: 74px;
  }
}

.catalog__title {
  @include main-title;
  padding: 25px 0 41px;
  margin: 0;

  @include tablet {
    padding-top: 60px;
    padding-bottom: 50px;
  }

  @include desktop {
    padding-top: 68px;
  }
}

.catalog__list {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 100%;
  gap: 25px;
  margin: 0;
  padding: 20px 0 0;
  list-style: none;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 60px;
    align-items: end;
  }

  @include desktop {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px 63px;
  }
}

.button--secondary {
  @include button;
  @include button--secondary;
}
