.catalog__title {
  margin-bottom: 84px;
}

.catalog__list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 100%;
  gap: 80px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.card {
  align-items: center;
  text-align: center;
  padding: 0 38px 40px;
  color: #444444;
}

.card__link {
  color: #222222;
  text-decoration: none;
}

.card__title {
  margin-bottom: 23px;
}

.card__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 0;
  list-style: none;
  padding: 0;
  margin: 0 0 32px;
}

.card__item {
  grid-column: 1 / -1;
  display: contents;
}


.card__criterion {
  text-align: left;
}

.card__value {
  text-align: right;
}
