.catalog__title {
  @include title;
  margin-bottom: 84px;
}

.catalog__list {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 100%;
  gap: 25px;
  margin: 0;
  padding: 0;
  list-style: none;

  @include tablet {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}

.button--secondary {
  @include button;
  @include button--secondary;
}
