.contacts {
  font-family: $secondary-font;
}

.contacts__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 80px;
  gap: 87px;
  max-width: 625px;
}

.contacts__title {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 26px;
}

.contacts__address {
  font-family: $primary-font;
  color: #444444;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  margin: 0;
}
