.contacts__info {
  display: flex;
  align-items: center;
  padding: 26px 20px;
  gap: 20px;

  @include tablet {
    padding: 60px 70px;
    gap: 267px;
  }

  @include desktop {
    padding: 60px 80px;
    gap: 87px;
    max-width: 625px;
  }
}

.contacts__title {
  @include subtitle;
  font-size: 16px;
  line-height: 20px;
}

.contacts__address {
  font-family: $primary-font;
  color: $dark-grey;
  font-size: 14px;
  line-height: 20px;
  padding: 0;
  margin: 0;

  @include tablet {
    text-align: end;
    margin-left: auto;
  }
}
