.example__wrapper {
  padding-top: 45px;
}

.example__title {
  @include title;
  margin-bottom: 40px;

  @include tablet {
    margin-bottom: 60px;
  }

  @include desktop {
    margin-bottom: 76px;
  }
}

.example__description {
  color: $dark-grey;
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 55px;
  }

  @include desktop {
    margin-bottom: 69px;
  }
}

.example__stats {
  display: grid;
  padding: 0;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  margin-bottom: 20px;

  @include tablet {
    grid-template-columns: repeat(2, 162px);
    gap: 42px;
    margin: 0 0 55px;
  }
}

.example__stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid $border-grey;
  width: 100%;
  height: 70px;


  @include desktop {
    width: 162px;
    height: 77px;
  }
}

.example__value {
  @include subtitle;
  font-size: 24px;
  line-height: 24px;
  color: $basic-dark;
  margin: 0 0 7px;


  @include tablet {
    font-size: 30px;
    line-height: 37px;
    margin: 0 0 11px;
  }
}

.example__label {
  margin: 0;
  color: $dark-grey;

  font-size: 12px;
  line-height: 12px;

  @include tablet {
    font-size: 14px;
    line-height: 14px;
  }
}

.example__cost {
  @include subtitle;
}

.example__image {
  display: flex;
  justify-content: center;
}
