.example__wrapper {
  @include container;
  padding-top: 45px;
  padding-bottom: 40px;

  @include desktop {
    display: flex;
    flex-direction: column;
    padding-bottom: 85px;
  }
}

.example {
  @include desktop {
    position: relative;
  }
}

.example__content {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  @include desktop {
    max-width: 50%;
  }
}

.example__title {
  @include main-title;
  margin-bottom: 40px;

  @include tablet {
    margin-bottom: 60px;
  }

  @include desktop {
    margin-bottom: 76px;
  }
}

.example__description {
  color: $dark-grey;
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 55px;
  }

  @include desktop {
    margin-bottom: 69px;
  }
}

.example__stats {
  display: grid;
  padding: 0;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  margin-bottom: 40px;

  @include tablet {
    grid-template-columns: repeat(2, 162px);
    gap: 42px;
  }
}

.example__stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid $border-grey;
  width: 100%;
  height: 56px;
  border-bottom: none;

  position: relative;
  border-radius: 4px;

  @include tablet {
    width: 162px;
    height: 77px;
  }
}

.example__stat::before,
.example__stat::after {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 20px;
  height: 1px;
  background-color: $light-grey;
}

.example__stat::before {
  left: -1px;
}

.example__stat::after {
  right: -1px;
}


.example__value {
  @include subtitle;
  font-size: 24px;
  line-height: 24px;
  color: $basic-dark;
  margin: 0 0 7px;


  @include tablet {
    font-size: 30px;
    line-height: 37px;
    margin: 0;
  }
}

.example__label {
  margin: 0;
  color: $dark-grey;
  padding: 0 21px;

  font-size: 12px;
  line-height: 12px;

  position: absolute;
  left: 0;
  right: 0;
  bottom: -16px;

  @include tablet {
    font-size: 14px;
    line-height: 14px;
    bottom: -6px;
    padding: 0;
  }
}

.example__cost {
  @include subtitle;
  line-height: 20px;
  text-align: center;
  margin-bottom: 20px;

  @include tablet {
    margin-left: auto;
    max-width: 190px;
    text-align: end;
  }
}

.example__slider {
  @include tablet {
    display: flex;
    justify-content: center;
  }

  @include desktop {
    position: absolute;
    right: 120px;
    top: 0;
  }
}
