.example__wrapper {
  background: #f2f2f2;
  padding: 60px 20px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.example__info {
  max-width: 50%;
}

.example__title {
  margin-bottom: 76px;
}

.example__description {
  margin-bottom: 69px;
  color: #444444;
}

.example__stats {
  display: grid;
  grid-template-columns: repeat(2, 162px);
  gap: 42px;
  margin: 0 0 55px;
  padding: 0;
}

.example__stat {
  width: 162px;
  height: 77px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #cdcdcd;
  padding: 10px;
}

.example__value {
  font-family: $secondary-font;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0 0 11px;
}

.example__label {
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  color: #444444;
}

.example__image {
  display: flex;
  justify-content: center;
}
