.footer {
  background-color: #f2f2f2;
}

.footer__wrapper {
  padding: 39px 20px 22px;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer__partner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.footer__partner-link {
  display: flex;
  gap: 23px;
}
