.header {
  @include container;
  font-family: $secondary-font;
  padding-top: 13px;
  border-bottom: 1px solid $border-grey;

  @include tablet {
    padding-top: 25px;
    border-bottom: 0;
  }

  @include desktop {
    padding: 55px 0 0;
    margin-bottom: 0;
  }
}

.header__top {
  display: flex;
  align-items: center;
  padding-bottom: 9px;

  @include tablet {
    padding-bottom: 0;
  }

  @include desktop {
    @include container;
  }
}

.header__logo-container {
  align-items: center;
  display: flex;
  width: 100%;

  @include tablet {
    gap: 13px;
    flex-grow: 1;
    width: max-content;
  }
}


.header__hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;


  @include tablet {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  @include desktop {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.header__hero {
  position: relative;
  margin-bottom: 20px;
  margin-top: 25px;
  text-align: center;

  @include tablet {
    padding: 60px 0 75px;
    position: relative;
    text-align: left;
    margin: 0;
  }

  @include desktop {
    margin: 0;
    padding: 105px 60px 0;
  }
}

.header--background {
  position: relative;

  .header__hero-title,
  .header__hero-subtitle {
    color: $basic-white;
  }


  @include tablet {
    .header__hero-title,
    .header__hero-subtitle {
      color: $basic-dark;
    }
  }

  @include desktop {
    .nav__link {
      color: $basic-white;
    }
  }
}

.header--background::after {
  content: "";
  z-index: -1;
  color: $basic-white;
  background-image: linear-gradient($overlay-green), url("/images/background-image/hero-bc-mobile.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 302px;
  position: absolute;
  top: 65px;
  right: 0;
  background-size: 100% auto;

  @media (min-resolution: 2dppx) {
    background-image:
      linear-gradient($overlay-green),
      url("/images/background-image/hero-bc-mobile@2x.jpg");
  }

  @include tablet {
    display: none;
  }

  @include desktop {
    display: block;
    width: 50%;
    height: 100%;
    background-image:
      linear-gradient($overlay-green),
      url("/images/background-image/hero-bc-desktop.jpg");
    background-position: 100% 0;
    top: 0;
    background-size: 720px 694px;

    @media (min-resolution: 2dppx) {
      background-image:
        linear-gradient($overlay-green),
        url("/images/background-image/hero-bc-desktop@2x.jpg");
      background-size: 720px 694px;
    }
  }
}

.header__hero-content {
  max-width: 100%;

  @include tablet {
    max-width: 100%;
    margin: 0;
    min-height: 734px;
    padding: 0 90px;
  }

  @include desktop {
    max-width: 50%;
    padding: 0 80px;
    padding-bottom: 56px;
    min-height: 525px;
  }
}

.header__hero-title {
  @include main-title;
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 40px;
  }
}

.header__hero-subtitle {
  @include subtitle;
  margin-bottom: 29px;

  @include tablet {
    margin-bottom: 50px;
  }

  @include desktop {
    margin-bottom: 52px;
  }
}

.header__hero-button {
  @include button;
  position: absolute;
  transform: translateX(-50%);
  width: 100%;
  left: 50%;
  bottom: 0;


  @include tablet {
    display: inline-block;
    padding: 14px 26px;
    position: inherit;
    width: auto;
    left: 0;
    transform: translateX(0);
  }
}

.header__hero-image {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 37px;

  @include tablet {
    position: absolute;
    z-index: -1;
    text-align: center;
    left: 0;
    right: 0;
    bottom: -5px;
    margin: 0 auto;
    padding: 0;
  }

  @include desktop {
    position: absolute;
    z-index: 1;
    max-width: 552px;
    text-align: center;
    inset: 24px 0 auto 226px;
    margin: 0 auto;
  }
}

.header__hero-img {
  width: 280px;
  height: auto;

  @include tablet {
    width: 709px;
  }

  @include desktop {
    width: 552px;
  }
}

.header__name {
  margin: 0 auto;
}

.header__name-img {
  width: 101px;
  height: auto;

  @include tablet {
    display: none;
  }
}
