.header {
  font-family: $secondary-font;
  padding-top: 13px;
  border-bottom: 1px solid $border-grey;
  margin-bottom: 27px;

  @include tablet {
    padding-top: 25px;
    border-bottom: 0;
  }

  @include desktop {
    padding-top: 55px;
    margin-bottom: 82px;
  }
}

.header__top {
  display: flex;
  align-items: center;
}

.header__hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;


  @include tablet {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  @include desktop {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.header__hero {
  position: relative;
  margin-bottom: 20px;
  margin-top: 27px;
  text-align: center;

  @include tablet {
    padding: 50px 0 80px;
    position: relative;
    text-align: left;
  }

  @include desktop {
    padding: 80px 0 100px;
  }
}

.header--background {
  position: relative;
}

.header--background::after {
  content: "";
  z-index: -1;
  color: $basic-white;
  background-image: linear-gradient($overlay-green), url("/images/background-image/hero-bc-mobile.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 302px;
  position: absolute;
  top: 65px;
  right: 0;
  background-size: 320px 302px;

  @include tablet {
    background-image: none;
  }

  @include desktop {
    width: 50%;
    height: 100%;
    background-image:
      linear-gradient($overlay-green),
      url("/images/background-image/hero-bc-desktop.jpg");
    background-position: 100% 0;
    top: 0;
    background-size: 720px 694px;
  }
}

.header__hero-content {
  margin-bottom: 20px;

  @include tablet {
    max-width: 380px;
    margin: 0;
  }

  @include desktop {
    max-width: 450px;
  }
}

.header__hero-title {
  @include main-title;
  margin-bottom: 25px;

  @include tablet {
    margin-bottom: 40px;
  }
}

.header__hero-subtitle {
  @include subtitle;
  margin-bottom: 29px;

  @include tablet {
    margin-bottom: 50px;
  }

  @include desktop {
    margin-bottom: 52px;
  }
}

.header__hero-button {
  @include button;
}

.header__hero-image {
  width: 100%;
  display: flex;
  justify-content: center;

  @include tablet {
    position: absolute;
    z-index: -1;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  @include desktop {
    position: absolute;
    bottom: -40px;
    z-index: 1;
    max-width: 552px;
    text-align: center;
    left: 220px;
    right: 0;
    margin: 0 auto;
  }
}

.header__hero-img {
  width: 280px;
  height: auto;

  @include tablet {
    width: 400px;
  }

  @include desktop {
    width: 552px;
  }
}
