.header {
  font-family: $secondary-font;
  padding-top: 13px;
  border-bottom: 1px solid $border-grey;
  margin-bottom: 27px;

  @include tablet {
    padding-top: 25px;
    border-bottom: 0;
  }

  @include desktop {
    padding-top: 55px;
    margin-bottom: 82px;
  }
}

.header__top {
  display: flex;
  align-items: center;
}

.header__hero-wrapper {
  background-color: $basic-white;
  background-image:
    linear-gradient($overlay-green),
    url("/images/background-image/hero-bc-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 320px 302px;
  margin-bottom: 27px;

  @include tablet {
    background-image: none;
    margin-bottom: 65px;
  }

  @include desktop {
    margin-bottom: 80px;
    background-color: $basic-white;
    background-image:
      linear-gradient($overlay-green),
      url("/images/background-image/hero-bc-desktop.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 720px 694px;
  }
}

.header__hero {
  height: 480px;
  width: 320px;
  margin-bottom: 20px;
  text-align: center;

  @include tablet {
    width: 100%;
    height: 875px;
    background-image: none;
    padding: 65px 0;
    text-align: left;
    position: relative;
  }

  @include desktop {
    height: 694px;
    padding: 0;
  }
}

.header__hero-content {
  position: relative;
  text-align: center;

  @include tablet {
    max-width: 100%;
    padding-left: 90px;
    padding-right: 90px;
    text-align: left;
  }

  @include desktop {
    padding-top: 110px;
    padding-left: 80px;
    padding-right: 0;
  }
}

.header__hero-title {
  @include main-title;
  margin-bottom: 25px;

  @include tablet {
    margin-bottom: 40px;
  }
}

.header__hero-subtitle {
  @include subtitle;
  margin-bottom: 29px;

  @include tablet {
    margin-bottom: 50px;
  }

  @include desktop {
    margin-bottom: 52px;
  }
}

.header__hero-button {
  @include button;
}

.header__hero-image {
  @include tablet {
    position: absolute;
    z-index: -1;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  @include desktop {
    position: absolute;
    bottom: -40px;
    z-index: 1;
    max-width: 552px;
    text-align: center;
    left: 220px;
    right: 0;
    margin: 0 auto;
  }
}

.header__hero-img {
  width: 552px;
}
