.nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  z-index: 1;
}

.nav__wrapper {
  display: none;

  @include tablet {
    display: block;
  }
}

.nav__list {
  display: flex;
  list-style: none;
  gap: 33px;
  margin: 0;
  padding: 0;
}

.nav__link {
  font-family: $secondary-font;
  text-decoration: none;
  text-transform: uppercase;

  font-size: 20px;
  line-height: 20px;
  color: $basic-dark;
  padding-bottom: 10px;


  @include tablet {
    font-size: 18px;
    line-height: 24px;
  }

  @include desktop {
    font-size: 20px;
  }
}

.nav__item--active .nav__link {
  border-bottom: 2px solid $basic-green;
}
