.nav {
  margin-left: auto;
  z-index: 1;
}

.nav__toggle {
  position: relative;
<<<<<<< HEAD
  display: block;
  padding: 0;
=======
>>>>>>> bba61ac93569807b1aee3ea99045fc99fc2fa7aa
  width: 24px;
  height: 24px;
  background: $basic-white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
<<<<<<< HEAD
=======
  padding: 0;
  display: block;
>>>>>>> bba61ac93569807b1aee3ea99045fc99fc2fa7aa

  @include tablet {
    display: none;
  }
}

.nav__toggle::before,
.nav__toggle::after {
  content: "";
  position: absolute;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: $basic-dark;
<<<<<<< HEAD
  transition: transform 0.25s ease-in-out, top 0.25s ease-in-out, opacity 0.25s ease-in-out;
=======
  transition: transform 0.3s ease, top 0.3s ease, opacity 0.3s ease;
>>>>>>> bba61ac93569807b1aee3ea99045fc99fc2fa7aa
}

.nav__toggle::before {
  top: -1px;
}

.nav__toggle::after {
  top: 15px;
}

.nav__toggle span {
  position: absolute;
  left: 0;
  top: 7px;
  width: 24px;
  height: 2px;
  background-color: $basic-dark;
<<<<<<< HEAD
  transition: opacity 0.25s ease-in-out;
=======
  transition: opacity 0.3s ease;
>>>>>>> bba61ac93569807b1aee3ea99045fc99fc2fa7aa
}

.nav--opened .nav__toggle::before {
  transform: rotate(45deg);
  top: 11px;
}

.nav--opened .nav__toggle::after {
  transform: rotate(-45deg);
  top: 11px;
}

.nav--opened .nav__toggle span {
  opacity: 0;
}

.nav__wrapper {
  display: none;
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  background-color: $basic-white;
  z-index: 10;

  @include tablet {
    position: static;
    display: block;
    background: none;
    box-shadow: none;
  }
}

.nav--opened .nav__wrapper {
  display: block;
}

.nav--nojs .nav__wrapper {
  display: block;
  position: static;
}

.nav--nojs .nav__toggle {
  display: none;
}

.nav__list {
<<<<<<< HEAD
  display: flex;
  flex-flow: column wrap;

  @include tablet {
    flex-direction: row;
    gap: 24px;
    max-width: 440px;
  }

  @include desktop {
    max-width: 580px;
=======
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    gap: 24px;
>>>>>>> bba61ac93569807b1aee3ea99045fc99fc2fa7aa
  }
}

.nav__item {
  text-align: center;
<<<<<<< HEAD
  border-top: 1px solid $grey-border-light;

  &:last-child {
    border-bottom: 1px solid $grey-border-light;
=======
  border-top: 1px solid $border-grey;

  &:last-child {
    border-bottom: 1px solid $border-grey;
>>>>>>> bba61ac93569807b1aee3ea99045fc99fc2fa7aa
  }

  @include tablet {
    border: none;

    &:last-child {
      border-bottom: none;
    }
  }
}

.nav__link {
<<<<<<< HEAD
  @include subtitle;
  display: block;
  font-family: $secondary-font;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  color: $basic-dark;
  padding: 22px 0;
  transition: opacity 0.25s ease-in-out;
=======
  display: block;
  font-family: $secondary-font;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  color: $basic-dark;
  padding: 22px 0;
  transition: color 0.3s ease;
>>>>>>> bba61ac93569807b1aee3ea99045fc99fc2fa7aa

  @include tablet {
    font-size: 18px;
    line-height: 24px;
    padding: 7px 5px;
  }

  @include desktop {
    font-size: 20px;
  }

<<<<<<< HEAD
  &:hover {
    opacity: 0.3;
  }

  &:active {
    opacity: 0.6;
=======
  &:hover,
  &:focus {
    color: $basic-green;
>>>>>>> bba61ac93569807b1aee3ea99045fc99fc2fa7aa
  }
}

.nav__item--active .nav__link {
  border-bottom: none;

  @include tablet {
<<<<<<< HEAD
    padding: 7px 0;
    border-bottom: 2px solid $basic-green;
=======
    border-bottom: 2px solid $basic-green;
    padding: 7px 0;
  }

  @include desktop {
    border-bottom: 2px solid $basic-white;
>>>>>>> bba61ac93569807b1aee3ea99045fc99fc2fa7aa
  }
}
