.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 55px;
}

.navigation__list {
  display: flex;
  list-style: none;
  gap: 33px;
  margin: 0;
  padding: 0;
}

.navigation__link {
  text-decoration: none;
  color: #ffffff;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
}

.navigation__item--active .navigation__link {
  border-bottom: 2px solid #68b738;
}
