.programs__wrapper {
  padding-bottom: 20px;

  @include tablet {
    padding-bottom: 45px;
  }

  @include desktop {
    padding-bottom: 70px;
  }
}

.programs__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;

  @include tablet {
    gap: 30px;
  }

  @include desktop {
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    gap: 80px;
  }
}

.programs__item {
  background: #f2f2f2;
  padding: 47px 33px;
}

.program__title {
  font-size: 36px;
  font-family: $secondary-font;
  line-height: 36px;
  margin: 0 0 39px;
}

.program__text {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 23px;
}

.program__link {
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}
