.social {
  display: grid;
  grid-template-columns: repeat(3, 30px);
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 22px;
}

.social__link--vk {
  background-image: url("/images/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social__link--youtube {
  background-image: url("/images/icon-youtube.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social__link--telegram {
  background-image: url("/images/icon-tg.svg");
  background-repeat: no-repeat;
  background-position: center;
}
