.steps {
  @include tablet {
    counter-reset: steps-counter;
  }
}

.step--leaf::before {
  background-image: url("../../icons/stack.svg#icon-leaf");
  background-color: $basic-green;
  background-size: 30px 32px;
}

.step--water::before {
  background-image: url("../../icons/stack.svg#icon-water");
  background-size: 30px 32px;
}

.step--eat::before {
  background-image: url("../../icons/stack.svg#icon-eat");
  background-size: 30px 32px;
}

.step--alarm::before {
  background-image: url("../../icons/stack.svg#icon-alarm");
  background-size: 30px 32px;
}

.steps__wrapper {
  padding-bottom: 49px;

  @include tablet {
    padding-bottom: 47px;
    border-bottom: 1px solid $basic-border;
  }

  @include desktop {
    padding-bottom: 69px;
    border-bottom: none;
  }
}

.steps__title {
  @include main-title;
  margin-bottom: 32px;
}

.steps__list {
  display: grid;
  list-style: none;
  padding: 0;
  margin: 0;
  color: $dark-grey;
  max-width: 100%;

  grid-template-columns: repeat(1, 1fr);
  row-gap: 20px;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    gap: 37px;
  }

  @include desktop {
    gap: 50px;
    grid-template-columns: repeat(4, 1fr);
    max-width: 100%;
  }
}

.steps__item {
  display: flex;
  align-items: center;
  gap: 20px;

  @include tablet {
    position: relative;
    max-width: 250px;
    min-height: 280px;
    display: grid;
    gap: 0;
  }

  @include desktop {
    min-width: 230px;
    min-height: 280px;
  }
}

.steps__item::before {
  content: "";
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: $basic-green;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  display: block;

  @include tablet {
    width: 80px;
    height: 80px;
  }
}

.steps__item::after {
  @include tablet {
    counter-increment: steps-counter;
    content: counter(steps-counter);
    position: absolute;
    color: $light-grey;
    display: flex;
    align-items: center;
    font-size: 280px;
    max-width: 100%;
    min-height: 280px;
    right: 0;
  }
}

.step__text {
  margin: 0;
  padding: 0;
  z-index: 1;
  font-size: 14px;
  line-height: 18px;

  @include tablet {
    font-size: 16px;
    line-height: 24px;
  }
}
