.subscribe__wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}

.subscribe__title {
  @include title;
  font-size: 24px;
  margin-bottom: 32px;
}

.subscribe__text {
  font-family: $secondary-font;
  text-align: center;
  font-size: 16px;
  margin: 0;
  margin-bottom: 24px;

  @include desktop {
    font-size: 24px;
    line-height: 32px;
  }
}

.subscribe__form {
  display: grid;
  gap: 16px;


  @include desktop {
    display: flex;
    justify-content: center;
    gap: 0;
  }
}

.subscribe__input {
  @include subtitle;
  color: $dark-grey;
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid $border-grey;
  width: 100%;

  @include desktop {
    padding: 12px;
    min-width: 280px;
  }
}

.subscribe__button {
  @include button;
  padding: 15px;

  @include tablet {
    padding-bottom: 12px;
  }
}
